* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section{
  background: linear-gradient(to right, #41c9cd, #0483d0);
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.con_desing{
  background: whitesmoke;
  border: 10px ghostwhite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  max-width: 700px !important;
  margin: auto;
  height: 100%;
  padding: 5% !important;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}
.ea{
  margin-bottom: 10%;
}

.ps{
  margin-bottom: 5%;
}

.navbar_css {
  text-decoration: none;
}

#btn_login {
  background-color: green !important;
  color: #fff; /* Text color */
  width: 26%;
}

.f_bg {
  font-size: 40px;
}

.offcanvas {
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  z-index: 1050;
}
.offcanvas.show {
  visibility: visible;
  transform: translateX(0);
}
.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.offcanvas-body {
  padding: 1rem;
}
/* register */
.regis_bg{
  background: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.re_border{
  /* height: 100%; */
  border: 1px solid #fff;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
.word-wrap{
  background: linear-gradient(to left, #41c9cd, #0483d0);
}
.word-reg{
  background: whitesmoke;
  /* background: linear-gradient(to right, #41c9cd, #0483d0); */
}
/* register end */

/* product start */
.modal{
  width: 96%;
  justify-content: center;
}
.products_bg{
  /* background-color: darkgray; */
  background: linear-gradient(to right, #41c9cd, #0483d0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
.img_product{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(12, 12, 12);
  margin: auto;
  aspect-ratio: 1/1;
}
.body_card{
  height: 100px; 
}

.modal-header {
  background: linear-gradient(#41c9cd, #0483d0);
  color: white;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding: 20px;
  background-color: whitesmoke;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"], input[type="checkbox"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input[type="checkbox"] {
  width: auto;
}

.custom-swal-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-swal-button:hover {
  background-color: #0056b3;
}

.int_dog {
  width: 20% !important;
}


/* product end */

/* navbar start */
.headburger{
  background: linear-gradient(to right, #41c9cd, #0483d0);
  /* background-color: #83be62; */
  /* padding: 18px; */
  /* position: fixed; */
  height: 60px;
  /* width: 100%; */
}
/* navbar end */

/* add product start */
.added{
  position: fixed;
  bottom: 15px;
  right: 15px;
}
/* add product end */


/* all product start */
.all_img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(12, 12, 12);
  margin: auto;
  aspect-ratio: 1/1;
}
.btn_edt{
  width: 42%;
}
.bg_allproduct{
  background-color: darkgray;
}
/* all product end */
/* sidebar css start */
.navbar_des{
  transition: 0.3s;
}
.navbar_des:hover{
  background-color: #57a1cf;
}
/* view product start */
.image_view {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.ds-quan{
  width: 10%;
}

/* view product end */

/* view profile start */
.bord {
  background: whitesmoke;
  border: 10px ghostwhite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  max-width: 700px !important;
  margin: auto;
  height: 100%;
  padding: 5% !important;

}

.bg_profile {
  background: linear-gradient(to right, #41c9cd, #0483d0);
  width: 100%;
  min-height: 100vh;
  padding: 20px; /* Added padding to ensure content doesn't touch edges */
}
/* view profile end */


/* order start */
.bg_order{
  background: linear-gradient(to right, #41c9cd, #0483d0);
  width: 100%;
  min-height: 100vh;
}

/* order start */